In [84]:
import pandas as pd

pkmn_url = 'https://raw.githubusercontent.com/rpdieego/IndigoTortoise-pkmn-notebooks/master/datasets_2619_4359_pokemon.csv'


pkmn_df=pd.read_csv(pkmn_url)

##İlk 5 satırı getirelim

pkmn_df.head(5)

##Sadece Name ,Type 1 ve Type 2 kolonlarındaki bilgileri getirelim

pkmn_df[['Name','Type 1','Type 2']]


##Attack değeri maximum olan satırı getirelim.
pkmn_df[pkmn_df['Attack']==pkmn_df['Attack'].max()]

##Çoklu kriterle arama yapalım Attack değeri 70 den büyük, Defense değeri 100 den büyük satırlar

pkmn_df[(pkmn_df['Attack']>70) & (pkmn_df['Defense']>100)]

##Type 1 değeri Grass olanları getirelim
pkmn_df.loc[df['Type 1']=='Grass']

##İlk 4 satırı ve ilk 3 kolonu getirelim.

pkmn_df.iloc[0:4,0:3]

##Attack kolon değerine göre büyükten küçüğe sıralama yapalım:

pkmn_df.sort_values('Attack', ascending=False)

##Type 2 kolonu Null olan satır sayısını bulalım: 
pkmn_df['Type 2'].isnull().sum()


##Type 2 kolonu Not Null olan satır sayısını bulalım: 

pkmn_df[pkmn_df['Type 2'].notna()]


##Type 1 kolonuna göre gruplama yapalım ve her type 1 de kaç pokemon olduğunu bulalım.

pkmn_df.groupby(by='Type 1')['Name'].count()


## SQL deki Dense Rank() fonksiyonunun pandas kütüphanesinde uygulanması
pkmn_df[['Name','Attack']].assign(sirano=pkmn_df['Attack'].rank(method='dense').astype(int))


## İstenilen kolon değerlerinin ortalamasını alan fonksiyon yazalım:

def OrtalamaHesapla(statList):
    ortalamaListesi=[]
    for st in statList:
        ort=pkmn_df[st].mean()
        ortalamaListesi.append(ort)
    return ortalamaListesi

Alist=['Attack','HP']
hakan=OrtalamaHesapla(Alist)
print(hakan)

[79.00125, 69.25875]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
6,7,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True